
.home-container {
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin: 0; 
    padding: 0;
    background-size: cover;
    height:100%;
    overflow: auto;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.header-txt-color{
    color: white;
}

.nomargin{
    margin: 0;
}
.center-headers{
    margin-top:50px;
    margin-bottom: 30px;
}