<div class = "visit-list-area">
    
<form (submit) ="filterDate()" #dateForm="ngForm">
  <input id="date" type="date" [(ngModel)]="dateVar" name="date">
  <button type="submit">Sort on Date</button>
</form>
  <ul>
    <li *ngFor="let visit of visits">
        <!-- <span class="glyphicon glyphicon-user icon-color" aria-hidden="true"></span> -->
        <pre class = "visit">{{visit | json}}</pre>  
        <span ng-if="visit.picture">
            <img [src]=visit.picture class="img-thumbnail">    
        </span> 
    </li>
  </ul>
</div>
